<h1>Archery Application</h1>
<h2>Demonstrating a basic archery use case with Ruby on Rails and MongoDB</h2>
<br/>
<%= link_to 'Archers', archers_path %><br/>
<%= link_to 'Events', events_path %><br/>
